.header-tab {
  font-size: 18px;

  .is-primary & {
    color: white;
    border-bottom-color: white;

    &:not(.is-active):not(:hover) {
      opacity: 0.5;
    }
  }
}

.control.is-centered {
  justify-content: center;
}
